<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>OpenUI5 Web</title>
    <script id="sap-ui-bootstrap"
        src="/webjars/openui5/1.96.3/resources/sap-ui-core.js"
        data-sap-ui-theme="sap_belize"
        data-sap-ui-libs="sap.m"
        data-sap-ui-compatVersion="edge"
        data-sap-ui-async="true"
        data-sap-ui-resourceroots='{
            "myapp": "./"
        }'>
    </script>
    
        <script>
            console.log(sap.ui.version);
        </script>
</head>
<body class="sapUiBody" id="content"></body>
</html>
